* {
	margin: 0;
	padding: 0;
}

.zoombox {
    border: 3px solid #000;
    background-color: #ddd;
    overflow: hidden;
    margin: auto;
    width: 800px; 
    height: 600px; 
    position: relative;
}

.zoombox img {
	position: absolute;
	left: 0;
	top: 0;
}